
<p>
  <strong>Misc date:</strong>
  <%= @misc.misc_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @misc.description %>
</p>

<%= link_to 'Edit', edit_misc_path(@misc) %> |
<%= link_to 'Back', miscs_path %>
